# Preprocessing

First we drop unecessary feature

## Manual Testing

., and also labelling them the same way like we did on the datasets above.

And we use another ```sklearn``` module to apply the algorithms

In [1]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier

# Read & Visualizing File

These commands gives a quick preview about the data and label by adding ```class``` collumn.

In [2]:
import pandas as pd
import string
import re

We use few ```sklearn``` module to proceed the algorithms.

# Import Libraries

We use ```pandas``` to read csv file

We use ```string``` to...

We use ```re``` to...

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.model_selection import (
    KFold,
    StratifiedKFold,
    cross_val_score,
    GridSearchCV,
)
from sklearn.feature_extraction.text import TfidfVectorizer

In [4]:
data_fake = pd.read_csv('datasets/Fake.csv')
data_true = pd.read_csv('datasets/True.csv')

In [5]:
data_fake.tail()

,title,text,subject,date
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [6]:
data_true.tail()

,title,text,subject,date
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [7]:
# add class col
data_fake["class"] = 0
data_true["class"] = 1

In [8]:
data_fake.head()

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [9]:
# get data for manual testing
data_fake_manual_testing = data_fake.iloc[-10:]
data_true_manual_testing = data_true.iloc[-10:]

# Drop data from original datasets
data_fake = data_fake.iloc[:-10]
data_true = data_true.iloc[:-10]

In [10]:
# add class col
data_fake_manual_testing["class"] = 0
data_true_manual_testing["class"] = 1

In [11]:
data_true_manual_testing.head()

,title,text,subject,date,class
21407,"Mata Pires, owner of embattled Brazil builder ...","SAO PAULO (Reuters) - Cesar Mata Pires, the ow...",worldnews,"August 22, 2017",1
21408,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21409,"U.S., North Korea clash at U.N. arms forum on ...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21410,Headless torso could belong to submarine journ...,COPENHAGEN (Reuters) - Danish police said on T...,worldnews,"August 22, 2017",1
21411,North Korea shipments to Syria chemical arms a...,UNITED NATIONS (Reuters) - Two North Korean sh...,worldnews,"August 21, 2017",1

In [12]:
data_merge = pd.concat([data_fake,data_true], axis = 0)

In [13]:
data_merge.head()

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [14]:
data_merge.tail()

,title,text,subject,date,class
21402,Exclusive: Trump's Afghan decision may increas...,ON BOARD A U.S. MILITARY AIRCRAFT (Reuters) - ...,worldnews,"August 22, 2017",1
21403,U.S. puts more pressure on Pakistan to help wi...,WASHINGTON (Reuters) - The United States sugge...,worldnews,"August 21, 2017",1
21404,Exclusive: U.S. to withhold up to $290 million...,WASHINGTON (Reuters) - The United States has d...,worldnews,"August 22, 2017",1
21405,Trump talks tough on Pakistan's 'terrorist' ha...,ISLAMABAD (Reuters) - Outlining a new strategy...,worldnews,"August 22, 2017",1
21406,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1

In [15]:
data = data_merge.drop(['title', 'subject', 'date'], axis = 1)

In [16]:
data.isnull().sum()

text     0
class    0
dtype: int64

In [17]:
data = data.sample(frac=1).reset_index(drop=True)

In [18]:
data.head()

                                                text  class
0  Donald Trump threw a temper tantrum on Saturda...      0
1  The first shot against PC tyranny in Virginia ...      0
2  INCHEON, South Korea (Reuters) - LPGA chief Mi...      1
3  (Reuters) - Lawyers for U.S. President Donald ...      1
4  MOSCOW (Reuters) - A senior Russian lawmaker s...      1

# Preprocessing

In [19]:
def clean_text(text):
    text = text.lower()
    text = re.sub(r"\[.*?\]", "", text)
    text = "".join(char if char.isalnum() or char.isspace() else " " for char in text)
    text = re.sub(r"https?://\S+|www\.\S+", "", text)
    text = re.sub(r"<.*?>", "", text)
    text = "".join(char for char in text if char not in string.punctuation)
    text = re.sub(r"\w*\d\w*", "", text)

    return text

In [20]:
data['text'] = data['text'].apply(clean_text)

In [21]:
data

                                                    text  class
0      donald trump threw a temper tantrum on saturda...      0
1      the first shot against pc tyranny in virginia ...      0
2      incheon  south korea  reuters    lpga chief mi...      1
3       reuters    lawyers for u s  president donald ...      1
4      moscow  reuters    a senior russian lawmaker s...      1
...                                                  ...    ...
44873  bern  reuters    european commission president...      1
44874  on march   donald trump declared april  nation...      0
44875  a supervisory special agent who is now under s...      0
44876  want to take part in an opinion poll on the pr...      0
44877  donald trump has been nothing but a disaster s...      0

[44878 rows x 2 columns]

In [22]:
X = data['text']
y = data['class']

# Training

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state=101)

In [24]:
print(X_train)

42665    like breaking federal laws and treating secret...
38272     last night president donald trump caved into ...
43098    huh  this could be one of the most damning ema...
11283    mexico city  reuters    hurricane irma s deadl...
4838     london  reuters    prime minister theresa may ...
                               ...
12363    washington  reuters    u s  senate majority le...
5695     next up is a law suit to make it legal for h  ...
8006      century wire says president obama is once aga...
17745    the entire nation is now waiting with bated br...
17931    beirut  reuters    syrian government and allie...
Name: text, Length: 33658, dtype: object

In [25]:
print(X_test)

16775    washington  reuters    the top republican in t...
3083     the prospect of donald trump becoming presiden...
21200    london  reuters    britain will meet its finan...
18086    former secretary of state madeleine albright h...
1197     patrick henningsen  century wire update     la...
                               ...
42518    poor bernie  he s been a public servant his wh...
39315    lima  reuters    peruvian president pedro pabl...
4199     washington  reuters    republican u s  preside...
21939    manchester  n h   reuters    bernie sanders ha...
35262    by now  the whole world knows that alabama sen...
Name: text, Length: 11220, dtype: object

In [26]:
print(y_train)

42665    0
38272    0
43098    0
11283    1
4838     1
        ..
12363    1
5695     0
8006     0
17745    0
17931    1
Name: class, Length: 33658, dtype: int64

In [27]:
print(y_test)

16775    1
3083     0
21200    1
18086    0
1197     0
        ..
42518    0
39315    1
4199     1
21939    1
35262    0
Name: class, Length: 11220, dtype: int64

In [28]:
vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(X_train)
xv_test = vectorization.transform(X_test)

In [29]:
print(xv_train)

  (0, 53202)	0.47768752786802243
  (0, 36215)	0.16542420581089848
  (0, 1481)	0.3189000158636294
  (0, 74831)	0.26334962570682535
  (0, 74245)	0.2900483803758178
  (0, 85365)	0.4163167104461954
  (0, 3127)	0.07307339388955272
  (0, 46733)	0.2707557183185065
  (0, 28447)	0.20229165501817972
  (0, 10251)	0.32683731078178285
  (0, 47803)	0.2992634703940258
  (1, 86381)	0.028047686417874286
  (1, 52181)	0.02359742007592888
  (1, 7310)	0.03156354326565825
  (1, 80474)	0.043637551553713655
  (1, 92436)	0.020571282153932537
  (1, 60095)	0.015783130553173517
  (1, 28956)	0.038564527968572834
  (1, 91987)	0.03174253509019105
  (1, 13320)	0.02959784414038127
  (1, 56861)	0.017005614023859913
  (1, 54435)	0.012785516259612089
  (1, 88283)	0.06434078917531867
  (1, 86215)	0.04893732602214438
  (1, 88657)	0.07431886110374798
  :	:
  (33657, 33251)	0.05227622322258762
  (33657, 83565)	0.03735672654588512
  (33657, 4572)	0.015485264289976243
  (33657, 35400)	0.04815381502904396
  (33657, 91428)	0.028686271440019093
  (33657, 30748)	0.0486528847220996
  (33657, 82262)	0.053676928814875825
  (33657, 59336)	0.0125831061186201
  (33657, 80150)	0.05977279736155753
  (33657, 1447)	0.025480288838275498
  (33657, 7364)	0.019786231497298436
  (33657, 2535)	0.04327404243812167
  (33657, 53017)	0.07216798469388515
  (33657, 29924)	0.013663247177558043
  (33657, 83368)	0.04064123227808254
  (33657, 35566)	0.03253312118796707
  (33657, 81672)	0.04484434936968734
  (33657, 1934)	0.3473373335804529
  (33657, 39205)	0.07441739270565972
  (33657, 81685)	0.3062480226610853
  (33657, 11571)	0.030909824083581842
  (33657, 58929)	0.061453827436600675
  (33657, 84366)	0.024321764403506002
  (33657, 83274)	0.16647777934356506
  (33657, 3127)	0.024802103461498914

In [30]:
print(xv_test)

  (0, 93248)	0.05226247197204632
  (0, 92549)	0.036024662144490543
  (0, 92539)	0.04830285372726229
  (0, 92128)	0.0270004703243841
  (0, 91866)	0.036858496843070486
  (0, 91516)	0.026140570245668376
  (0, 91452)	0.024405819497012864
  (0, 91446)	0.0382028508562393
  (0, 90623)	0.024815485213397753
  (0, 90030)	0.044327958163376174
  (0, 86618)	0.04709466655848005
  (0, 86152)	0.029746677919072494
  (0, 85303)	0.06611056638535062
  (0, 85300)	0.1865971311290947
  (0, 85009)	0.12032494088321577
  (0, 84891)	0.04310015300420989
  (0, 84665)	0.033031272403177804
  (0, 84366)	0.10199506836119267
  (0, 84073)	0.02327301243262063
  (0, 83565)	0.017406457737858167
  (0, 83481)	0.0210157970301092
  (0, 83274)	0.2216306481073114
  (0, 83246)	0.03724514815637131
  (0, 82964)	0.08004379168797822
  (0, 81476)	0.05992318205851685
  :	:
  (11219, 8064)	0.03332999259040931
  (11219, 7980)	0.056342007098195014
  (11219, 7475)	0.04503354677245689
  (11219, 7399)	0.03576800699653016
  (11219, 7364)	0.033275451588110676
  (11219, 7166)	0.013535513204838898
  (11219, 6458)	0.047675316735620726
  (11219, 5914)	0.052070055883875976
  (11219, 5877)	0.024411994571827078
  (11219, 5637)	0.0789582066427211
  (11219, 4572)	0.026042309384713226
  (11219, 4282)	0.0486573753924438
  (11219, 4181)	0.05898799968828618
  (11219, 3127)	0.1251326499130121
  (11219, 3028)	0.028026547012909946
  (11219, 2805)	0.026484118480081496
  (11219, 2535)	0.018194006579375328
  (11219, 2320)	0.07929153895235043
  (11219, 2301)	0.018212678918574046
  (11219, 1940)	0.20441285834896494
  (11219, 1460)	0.04556532671334733
  (11219, 1418)	0.016979174306124657
  (11219, 1199)	0.040083010312349926
  (11219, 804)	0.0650001634952318
  (11219, 633)	0.03455240675722937

## Kfold

In [ ]:
kfold = KFold(n_splits=5)
for train_index, test_index in kfold.split(X_train):
    X_train_fold, X_val_fold = X_train.iloc[train_index], X_train.iloc[test_index]
    y_train_fold, y_val_fold = y_train.iloc[train_index], y_train.iloc[test_index]
    # Train your model using X_train_fold and y_train_fold, then evaluate on X_val_fold and y_val_fold

# Using Stratified K-Fold Cross-Validation
skf = StratifiedKFold(n_splits=5)
for train_index, test_index in skf.split(X_train, y_train):
    X_train_fold, X_val_fold = X_train.iloc[train_index], X_train.iloc[test_index]
    y_train_fold, y_val_fold = y_train.iloc[train_index], y_train.iloc[test_index]
    # Train your model using X_train_fold and y_train_fold, then evaluate on X_val_fold and y_val_fold

# Logistic Regression

In [31]:
LR = LogisticRegression()
LR.fit(xv_train, y_train)

LogisticRegression()

In [32]:
pred_lr = LR.predict(xv_test)

In [33]:
LR.score(xv_test, y_test)

0.986096256684492

In [34]:
print(classification_report(y_test, pred_lr))

              precision    recall  f1-score   support

           0       0.99      0.98      0.99      5902
           1       0.98      0.99      0.99      5318

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

# 2. Decision Tree Classifier

In [35]:
DT = DecisionTreeClassifier()
DT.fit(xv_train, y_train)

DecisionTreeClassifier()

In [36]:
pred_dt = DT.predict(xv_test)

In [37]:
DT.score(xv_test, y_test)

0.9963458110516934

In [38]:
print(classification_report(y_test, pred_lr))

              precision    recall  f1-score   support

           0       0.99      0.98      0.99      5902
           1       0.98      0.99      0.99      5318

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

# 3. Gradient Boost Classifier

In [39]:
GB = GradientBoostingClassifier(random_state=0)
GB.fit(xv_train, y_train)

In [ ]:
pred_gb = GB.predict(xv_test)

In [ ]:
GB.score(xv_test, y_test)

0.9952762923351158

# Random Forest Classifier

In [ ]:
RF = RandomForestClassifier(random_state=0)
RF.fit(xv_train, y_train)

RandomForestClassifier(random_state=0)

In [ ]:
pred_rf = RF.predict(xv_test)

In [ ]:
RF.score(xv_test, y_test)

0.9877005347593583

## Model Training

In [ ]:
# Model training with 1 additional algorithm
# Example: Decision Tree Classifier
DT = DecisionTreeClassifier()
DT.fit(xv_train, y_train)

# Training the model with 1 other algorithm
# Example: Gradient Boosting Classifier
GB = GradientBoostingClassifier(random_state=0)
GB.fit(xv_train, y_train)

# One of the algorithms used has never been described in class
# Example: Random Forest Classifier
RF = RandomForestClassifier(random_state=0)
RF.fit(xv_train, y_train)

# Search for the best hyperparameters for the algorithm used
# Example: Random Forest Classifier
param_grid = {
    "n_estimators": [100, 200, 300],
    "max_depth": [None, 10, 20],
    "min_samples_split": [2, 5, 10],
    "min_samples_leaf": [1, 2, 4],
}
grid_search = GridSearchCV(RF, param_grid, cv=5)
grid_search.fit(xv_train, y_train)
print("Best parameters:", grid_search.best_params_)

# Use Grid Search to search for hyperparameter combinations best of a model
# Example: Gradient Boosting Classifier
param_grid_gb = {
    "n_estimators": [50, 100, 150],
    "learning_rate": [0.01, 0.1, 0.5],
    "max_depth": [3, 4, 5],
}
grid_search_gb = GridSearchCV(GB, param_grid_gb, cv=5)
grid_search_gb.fit(xv_train, y_train)
print("Best parameters for Gradient Boosting Classifier:", grid_search_gb.best_params_)

# Testing

In [ ]:
def lable(n):
    if n == 0:
        return "Fake"
    elif n == 1:
        return "True"
    else:
        return "Unidentified"
    
def manual_test(news):
    testing_news = {"text":[news]}
    new_def_test = pd.DataFrame(testing_news)
    new_def_test['text'] = new_def_test["text"].apply(clean_text)
    new_x_test = new_def_test["text"]
    new_xv_test = vectorization.transform(new_x_test)
    pred_LR = LR.predict(new_xv_test)
    pred_DT = DT.predict(new_xv_test)
    pred_GB = GB.predict(new_xv_test)
    pred_RF = RF.predict(new_xv_test)
    
    return print("\n\nLR Predicition: {} \nDT Prediction: {} \nGBC Prediction: {} \nRFC Prediction:{}".format(lable(pred_LR[0]),
                                                                                                             lable(pred_DT[0]),
                                                                                                             lable(pred_GB[0]),
                                                                                                             lable(pred_RF[0])))

In [71]:
news = str(
    "WASHINGTON (Reuters) - Trump campaign adviser George Papadopoulos told an Australian diplomat in May 2016 that Russia had political dirt on Democratic presidential candidate Hillary Clinton, the New York Times reported on Saturday. The conversation between Papadopoulos and the diplomat, Alexander Downer, in London was a driving factor behind the FBI’s decision to open a counter-intelligence investigation of Moscow’s contacts with the Trump campaign, the Times reported. Two months after the meeting, Australian officials passed the information that came from Papadopoulos to their American counterparts when leaked Democratic emails began appearing online, according to the newspaper, which cited four current and former U.S. and foreign officials. Besides the information from the Australians, the probe by the Federal Bureau of Investigation was also propelled by intelligence from other friendly governments, including the British and Dutch, the Times said. Papadopoulos, a Chicago-based international energy lawyer, pleaded guilty on Oct. 30 to lying to FBI agents about contacts with people who claimed to have ties to top Russian officials. It was the first criminal charge alleging links between the Trump campaign and Russia. The White House has played down the former aide’s campaign role, saying it was “extremely limited” and that any actions he took would have been on his own. The New York Times, however, reported that Papadopoulos helped set up a meeting between then-candidate Donald Trump and Egyptian President Abdel Fattah al-Sisi and edited the outline of Trump’s first major foreign policy speech in April 2016. The federal investigation, which is now being led by Special Counsel Robert Mueller, has hung over Trump’s White House since he took office almost a year ago. Some Trump allies have recently accused Mueller’s team of being biased against the Republican president. Lawyers for Papadopoulos did not immediately respond to requests by Reuters for comment. Mueller’s office declined to comment. Trump’s White House attorney, Ty Cobb, declined to comment on the New York Times report. “Out of respect for the special counsel and his process, we are not commenting on matters such as this,” he said in a statement. Mueller has charged four Trump associates, including Papadopoulos, in his investigation. Russia has denied interfering in the U.S. election and Trump has said there was no collusion between his campaign and Moscow."
)
manual_test(news)

LR Predicition: True
DT Prediction: True
GBC Prediction: True
RFC Prediction:True